@import "~@blueprintjs/core/lib/scss/variables";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/select/lib/css/blueprint-select.css";

body {
  background-color: $pt-dark-app-background-color;
}

body,
html,
#root {
  height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

#root {
  display: grid;
}

.app-layout {
  margin: auto;
  width: 90vw;
}

.app-overlay-content {
  display: grid;
}

.app-reorder {
  margin: auto;
}

.app-reorder-handle {
  margin-right: 0.5rem;
}

.app-days-select {
  margin-bottom: 0.5rem;
}

.app-reorderable {
  user-select: none;
}
